.App {
  text-align: center;
  background-color: #ccccff;
  height: 100vh;
}

.Login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 3px solid black;
  height: 100%;
}

.story-container {
  border: 1px solid black;
  height: 100%;
}

.single-story-container {
  border: 1px solid #4d4646;
}